@import "tailwindcss";

:root {
  --shadow-one: 0px 8px 24px rgba(255, 255, 255, 0.384);
  --color-text-one: #111827;
}

@theme {
  --shadow-one: var(--shadow-one);
  --color-text-one: var(--color-text-one);
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}
