@import "tailwindcss";
@plugin "@tailwindcss/typography";
:root {
  --shadow-one: 0px 8px 24px rgba(255, 255, 255, 0.384);
  --color-one: #111827;
  --color-two: #1cab55;
  --color-three: #15803d;
}

@theme {
  --shadow-one: var(--shadow-one);
  --color-one: var(--color-one);
  --color-two: var(--color-two);
  --color-three: var(--color-three);
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}

.aspect-video {
  aspect-ratio: 16 / 9;
}

.slick-prev:before {
  content: "" !important;
}

.slick-next:before {
  content: "" !important;
}

.slick-thumb .slick-current img {
  border: 2px solid var(--color-two) !important;
}

@layer components {
  .arrow {
    @apply !bg-white/90  rounded-full  !flex !items-center !justify-center !w-[25px] !h-[25px] !z-10 cursor-pointer relative;
  }
}
