@import "tailwindcss";
@plugin "@tailwindcss/typography";
:root {
  --shadow-one: 0px 8px 24px rgba(255, 255, 255, 0.384);
  --color-one: #111827;
  --color-two: #1cab55;
  --color-three: #15803d;
}

@theme {
  --shadow-one: var(--shadow-one);
  --color-one: var(--color-one);
  --color-two: var(--color-two);
  --color-three: var(--color-three);
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}
